html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-family: "Gelasio", serif;
  border: 5px solid;
  border-color: black;
  background-color: black;
  color: white;
  cursor: pointer;
  padding-right: 7em;
  padding-left: 7em;
  z-index: 500;
}

.navbar > .active {
  border-bottom: 2px solid white;
}

.main-section {
  height: 100vh;
  background-image: url("./components/images/concrete_seamless.png");
}

.main-section h1 {
  font-size: 100px;
  text-align: center;
  font-family: "Gelasio", serif;
  border-bottom: solid;
  border-color: black;
}

.main-section h2 {
  text-align: center;
  font-family: "Gelasio", serif;
}

.about-section {
  height: 100vh;
  background-image: url("./components/images/concrete_seamless.png");
}

.about-section h1 {
  margin: 0;
  font-family: "Gelasio", serif;
  font-weight: bold;
  font-size: 70px;
  border-bottom: solid;
  border-color: black;
}

.about-section p {
  font-family: "Gelasio", serif;
  font-size: 20px;
}

.portfolio-section {
  height: 100vh;
  background-image: url("./components/images/concrete_seamless.png");
}

.portfolio-section div {
  top: 100px;
}

.portfolio-section h1 {
  margin: 0;
  font-family: "Gelasio", serif;
  padding-top: 55px;
  padding-bottom: 0;
  font-weight: bold;
  font-size: 70px;
  border-bottom: solid;
  border-color: black;
}

.portfolio-section span {
  padding-right: 3em;
}

.portfolio-section div.card {
  background-color: black;
  color: white;
  border-radius: 30px;
  font-family: "Gelasio", serif;
}

.portfolio-section div.card-title {
  color: rgb(66, 166, 228);
  font-weight: bold;
  border-bottom: solid;
  border-color: rgb(66, 166, 228);
}

.portfolio-section button {
  background-color: white;
  color: black;
  border-color: white;
}

.contact-section {
  height: 100vh;
  background-image: url("./components/images/concrete_seamless.png");
}

.contact-section span {
  padding-right: 2em;
  padding-left: 2em;
}

footer {
  clear: both;
  font-size: 20px;
  color: black;
  background-image: url("./components/images/concrete_seamless.png");
  border-top: 4px solid black;
  margin-top: 115px;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}

/* mouse over link */
a:hover {
  color: grey !important;
}

/* selected link */
a:active {
  color: black !important;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.portfolio-section button:hover {
  background-color: grey;
  border-color: grey;
}

.portfolio-section button:active {
  background-color: black !important;
  border-color: black !important;
}

@media only screen and (max-width: 426px) {
  .navbar {
    font-size: 10px;
  }

  .main-section h1 {
    font-size: 80px;
    font-weight: bold;
  }

  .main-section h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    font-size: 20px;
  }
}
